taxi-app/src/wsdl/localhost_8080/taxi-services/DriverService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.services.taxi.icbt.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.services.taxi.icbt.com/">

<xs:element name="getDriver" type="tns:getDriver"/>

<xs:element name="getDriverResponse" type="tns:getDriverResponse"/>

<xs:complexType name="getDriver">
<xs:sequence>
<xs:element name="driver_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:sequence>
<xs:element name="driver_id" type="xs:string" minOccurs="0"/>
<xs:element name="driver_name" type="xs:string" minOccurs="0"/>
<xs:element name="driver_phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>